{% extends "paginaweb/base.html" %}

{% load static %}

{% block content %}
<style>


input {
  display: block;
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: rgb(255, 200, 200);
  box-shadow: 0px 0px 5px rgb(255, 200, 200);
}

input:focus + label {
  color: rgb(255, 200, 200);
}
label {
    font-family: "Segoe UI";
  }

  button {
        background-color: rgb(255, 180, 180);
        border: none;
        border-radius: 3px;
        color: #ffffff;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 7px;

      }



</style>
   <!-- Heading -->
   <div>
    <div class="row row-cols-2 row-cols-md-3 g-4">
      <div class="col">
        <div class="card" style="min-width: 25rem; min-height: 26rem;">
          <div class="card-body">
            <label style="font-size: 20px;">Empieza un nuevo viaje ahora</label>
            <br>
            <br>
            <form action="/viaje">
              <label for="fname">Ingresa un punto de partida:</label><br>
              <input type="text"><br>
              <label for="lname">Ingresa un destino:</label><br>
              <input type="text"><br>
              <br><br><button type="submit">Pedir</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="min-width: 25rem; min-height: 26rem;">
          <div class="card-body">
            <label style="font-size: 20px;"> Conduce con nosotras</label><br>
            <form>
              <label for="fname">Correo:</label><br>
              <input type="email"><br>
              <label for="fname">Teléfono:</label>
              <input type="text">
              <br><input type="checkbox">
              <label for="vehicle3">Autorizo el uso de datos personales</label><br>
              <br><button type="submit">Enviar</button>
            </form>
          </div>
        </div>
      </div>

      
      <div class="col">
        <div class="card" style="min-width: 25rem; min-height: 26rem;">
          <div class="card-body">
            <label style="font-size: 20px;">Programar tu viaje</label>
            <form onsubmit="agendarViaje(event)">
              <label for="from">Desde:</label><br>
              <input type="text" id="from"><br>
              <label for="to">Hasta:</label><br>
              <input type="text" id="to"><br>
              <label for="datetime">Fecha y hora:</label><br>
              <input type="datetime-local" id="datetime">
              <br>
              <button type="submit" id="agendarBtn">Agendar</button>
            </form>
          </div>
        </div>
      </div>
      
      <script>
        function agendarViaje(event) {
          event.preventDefault(); // Evita que el formulario se envíe
      
          // Obtener los valores de los campos de entrada
          var from = document.getElementById('from').value;
          var to = document.getElementById('to').value;
          var datetime = document.getElementById('datetime').value;
      
          // Crear un objeto con los datos del viaje
          var viaje = {
            desde: from,
            hasta: to,
            fechaHora: datetime
          };
      
          // Guardar el objeto de viaje en localStorage
          var viajesAgendados = localStorage.getItem('viajesAgendados');
          if (viajesAgendados) {
            viajesAgendados = JSON.parse(viajesAgendados);
            viajesAgendados.push(viaje);
          } else {
            viajesAgendados = [viaje];
          }
          localStorage.setItem('viajesAgendados', JSON.stringify(viajesAgendados));
      
          // Mostrar mensaje de éxito en pantalla
          var mensaje = "Su viaje ha sido agendado exitosamente.";
          alert(mensaje);
      
          // Redireccionar a la página de perfil de usuario
          window.location.href = "/viajesAgendados";
        }
      </script>
      
      
      
      </div> <br>

      <div style="width: 98%; margin: 50px auto 0; padding: 10px; overflow: visible; background-color: white; border-radius: 10px; position: relative; display: flex; align-items: center;">
        <img src="static/paginaweb/img/carro.jpg" style="border-radius: 7px; width: 400px; height: 300px; margin-left: 25px;">
        <div style="margin-left: 40px;">
          <h3><strong>¿Quiénes somos?</strong></h3>
          <p>SheDrive surge como un proyecto que busca abarcar la problemática de la inseguridad en las plataformas de transporte hacia las mujeres, dándoles un entorno mas confiable y seguro en sus viajes, y a su vez pretende ayudar a las mismas con empleos flexibles para quienes lo necesiten.</p>
        </div>
      </div>
      
      
      

      
      
  
    

    </div>
  </div>

  



<br>
<br>

{% endblock %}