{% extends "paginaweb/base.html" %}

{% load static %}

{% block content %}
<style>
  .button {
    background-color: rgb(255, 200, 200);
    border: none;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 7px;}

  .site-heading-lower {
    text-shadow: 2px 2px 4px rgba(121, 117, 118, 0.5);
}


</style>
<div class="contenedorFormulario">
  <form method="POST" action="{% url 'Login' %}">
    {% csrf_token %}
  
    <!-- Campos del formulario -->
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="contraseña">Contraseña:</label>
      <input type="password" id="contraseña" name="contraseña" required>
    </div>
  
    <!-- Botón de envío -->
    <button type="submit" class="button">Iniciar sesión</button>
  </form>
  {% if messages %}
  <ul class="errorlist">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
  
  
</div>

  {% endblock %}