{% extends "paginaweb/base.html" %}

{% block content %}





<div class="contenedorFormulario" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
  <br>
  <h2><strong>Inicia un nuevo viaje</strong></h2>
    <div>
      <br>
        <label for="metodoPago">Seleccione su método de pago:</label>
        <select id="metodoPago" name="metodoPago">
            <option value="efectivo">Efectivo</option>
            <option value="tarjeta">Tarjeta</option>
        </select>
    </div>
    <p>Señale su origen y destino en el mapa</p>
    <a href="/inicioViaje" class="button">Solicitar vehículo</a>
    <div id="map" style="width: 90%; height: 70%; margin-top: 20px;"></div>
</div>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css' type='text/css'/>

<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2FyYWRybCIsImEiOiJjbGg4a3M0d3AwOWppM2VtaGJyNmF6bGN1In0.mqxx5BquCc8oeOqglch5hQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-75.5636, 6.2518],
        zoom: 12
    });
    // Add zoom and rotation controls to the map.
    map.addControl(new mapboxgl.NavigationControl());
    // Add router
    map.addControl(new MapboxDirections({accessToken: mapboxgl.accessToken}), 'top-left');
</script>
{% endblock %}




